.main {
    display: flex;
    justify-content: start;
    width: 100vw;
}

.elevator {
    width: 100vw;
}

.subwaypage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.subwaylist {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.subwaymain {
    display: flex;
    margin-top: 20px;
}