.main {
    display: flex;
    justify-content: start;
    width: 100vw;
}


.transfer {
    width: 30vw;
    height: 70vh;
}

.subwaylist {
    width: 40vw;
    height: 70vh;
}

.subwaypage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.subwaymain {
    display: flex;
    margin-top: 20px;
}

@media (max-width:500px) {
    .main {
        flex-direction: column;
        height: 100%;
    }

    .subwaylist {
        width: 100vw;
        height: 43vh;
    }

    .transfer {
        width: 100%;
        height: 40vh;
    }

    .subwaymain {
        flex-direction: column;
        margin-top: 0;
        height: 100%;
        justify-content: space-between;
    }

}