.main {
    width: 100vw;
    margin: 10vh;
}

.elevator {
    width: 100vw;
}

.subwaypage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subwaylist {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.subwaymain {
    display: flex;
    margin-top: 20px;
}