.main {
    width: 100vw;
    margin-top: 10vh;
}

.subwaypage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.subwayImage {
    width: 100vw;
    height: 20vh;
}

.subwaylist {
    display: flex;
}

.subwaymain {
    display: flex;
    margin-top: 20px;
}