.subwaypage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subwaylist {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.subwaymain {
    display: flex;
    margin-top: 20px;
}
.main{
    margin-top: 10vh;
}