.buspage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.busmain {
    display: flex;
    margin-top: 20px;
}

.buslist {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

@media (max-width:500px) {
    .main {
        flex-direction: column;
    }

    .busmain {
        flex-direction: column;
        margin-top: 0;
        height: 100%;
        justify-content: space-between;
    }

    .buslist {
        margin-right: 0;
    }
}