.main {
    display: flex;
    justify-content: start;
    width: 100%;
}

.buspage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.busmain {
    display: flex;
    margin-top: 20px;
}

.buslist {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}