html,
body {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    width: 100%;
    height: 85vh;
    background: rgba(40, 40, 40, 0.8);
}

.main {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}






@media screen and (max-width:1676px) {
    .main {
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    }

    .bottom {
        display: flex;
        flex-direction: column;
    }
}