.loding{
    position: fixed;
    top:50%;
    right: 45%;
    animation: rotate_image 6s linear infinite;
    z-index: 1000;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}